html, body{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.container {
	width: 100%;
	height: 100%;
}

.map-container {
 	width: 100%;
	height: 100%;
	position: relative;
}

.add-event {
	width: 50%;
	margin-top: 2%;
}

.textRoom {
  padding: 10px;
  width: 90%;
  border: 1px solid #eee;
  outline: 0;
  font-size: 15px;
}

.new {
	margin-top: 7%;
}

.ner {
	margin-top: 15px;
}

.add-friends {
	width: 70%;
	margin-top: 20px;
	margin-bottom: 0px;
}

.add-friend-text {
	width: 60%;
}

#btnDone {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* CSS declarations go here */
body {
  background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

/*---------- Styles home page----------*/
#btnGoCreate {
	width: 105%;
	background-color: #3498DB;
	border: none;
	color: white;
	/*font-family: "Quicksand Book"; */
	font-size: 19px;
	margin-top: -12%;
	margin-bottom: 4%;
	padding:4% 0px 4% 0px;
}

a {
	color: white;
}

.fa-user-plus {
  margin-top: 2%;
  color: white;
}

.fa-cog {
  color: white;
}

.header-home {
	width: 100%;
	margin-top: 0%;
	margin-bottom: 15%;
	text-align: center;
	position: relative;
}

#add-friend-icon {
	position: relative;
	z-index: 2;
	text-align: right;
}

#setting-icon {
	position: relative;
	z-index: 2;
	text-align: left;
	margin-left: -93%;
	margin-top: 1%;
	filter: invert(100%);
}

#profile-back {
	width: 100%;
	height: 20%;
	position: relative;
	z-index: 1;
	margin-top: -19%;
}

#profile-picture {
	width: 36%;
	height: 36%;
	border: 10px solid #ffffff;
	z-index: 2;
	position: relative;
	top: -57px;
	margin-bottom: -17%;
}

#table-rooms {
	width: 80%;
	margin-bottom: 20%;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}
.table-text {
	text-align:center;
	width: 100%;
}


/* basic typeahead styles */
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

h1 {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.map-container2 {
  width: 800px;
  max-width: 100%;
  height: 500px;
}
