html, body{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.container {
	width: 100%;
	height: 100%;
}

.map-container {
 	width: 100%;
	height: 100%;
	position: relative;
}

.add-event {
	width: 50%;
	margin-top: 2%;
}

.textRoom {
	padding-top: 1px;
	padding-bottom: 1px;
	width: 70%;
}

.new {
	margin-top: 7%;
}

.add-friends {
	width: 70%;
}

.add-friend-text {
	width: 60%;
}

#btnDone {
	margin-top: 30%;
	margin-bottom: 5%;
}

/*---------- Styles home page----------*/
#btnGoCreate {
	width: 100%;
	background-color: #3498DB;
	border: none;
	color: white;
	/*font-family: "Quicksand Book"; */
	font-size: 19px;
	margin-top: -10%;	
	margin-bottom: 2%;
	padding:4% 0px 4% 0px;
}

#btnFriendList {
	width: 105%;
	background-color: #3498DB;
	border: none;
	color: white;
	/*font-family: "Quicksand Book";*/
	font-size: 19px;
	margin-bottom: 4%;
	padding:4% 0px 4% 0px;
}

a {
	color: white;
}

.header-home {
	width: 100%;
	margin-top: 0%;
	margin-bottom: 15%;
	text-align: center;
	position: relative;
}

#profile-back {
	width: 100%;
	height: 20%;
	position: relative;
	z-index: 1;
	margin-top: -9%;
}

#profile-picture {
	width: 36%;
	height: 36%;
	border: 10px solid #ffffff;
	z-index: 2;
	position: relative;
	top: -57px;
	margin-bottom: -19%;
}

#table-rooms {
	width: 80%;
	margin-bottom: 20%;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}
.table-text {
	text-align:center;
	width: 100%;
}



/* basic typeahead styles */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

input[type="submit"] {
    position: absolute;
    top: -1000px
}
