<head>
	<title>Wichi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2B2C3B">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
	  	<div class="header">
	  		<h1>Create a new event</h1>
	  	</div>

	  	<form class="new-room">
	  		<label class="add-event">Event name</label>
	  		<input type="text" class="textRoom" name="text" placeholder="Event name" />
	  	</form>

	  	<form class="new">
	  		<label class="add-friends">Add friends</label>
			<input class="form-control typeahead" id="add-friend-text" name="text" type="text"
			    placeholder="Users.."
			    autocomplete="off" spellcheck="off"
			    data-source="userslist"/>
		    <input type="submit" value="Submit">

		</form>

		{{#each chosen}}
		       {{text}}<br>
		{{/each}}

		<button type="submit" id="btnDone" class="btn btn-default">Done</button> 
	</div>
</body>

