<template name="home">
	<!--<div class="container"> -->
		<div class="header-home">

			<img src="images/image1.jpg" class="img-responsive" id="profile-back" alt="Responsive image">
			<img src="images/image3.png" class="img-circle" id="profile-picture">
			<h1>Profile name</h1>
		</div>

		<form class="go-create">
			<button type="submit" id="btnGoCreate" class="btn btn-default"><a href="/createRoom">Create new map event</a></button>
			<!-- Gå till create room-->

			<button type="submit" id="btnFriendList" class="btn btn-default">Add new friends</button>
			<!-- Hur ska man lägga till vänner-->
		</form>

		<form class="all-rooms">
			<label class="text-all-rooms">Here you see your current map events</label>
	      	<!-- lists all rooms -->
		</form>

		<table class="table table-hover" id="table-rooms">
	      {{#each newrooms}}
	        {{> newroom}}
	      {{/each}}
	    </table>
	      	

	<!-- </div> -->
</template>

<template name="newroom">
	<tr>
		<td class="table-text"><span class="text" style="text-align:center">{{text}}</span></td>
		<td style="text-align:left"><button class="delete">&times;</button></td>
	</tr>
</template> 