<template name="main">
  <div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}

  </div>
</template>

<template name="layout">
  {{> yield}}
  Copyright team Wichi
</template>

<template name="home">
  Hi this is home!
  {{#each rooms}}
    {{name}}
  {{/each}}
</template>

<template name="room">
  Lololol a room
  <br/>
  {{#each users}}
    {{userId}} - {{latestPosition.latLng.lat}}, {{latestPosition.latLng.lng}}
    <br/>
  {{/each}}
</template>

<template name="map">
  <div class="map-container2">
    {{#unless geolocationError}}
      {{> googleMap name="map" options=mapOptions}}
    {{else}}
      Geolocation failed: {{geolocationError}}
    {{/unless}}
  </div>
</template>
